
<div>ITEMS ::: {{dump(items)}}</div>
<div>{% if ref is defined %}REF ::: {{dump(ref)}}{% endif %}</div>
<div>{% if paymentUrl is defined %}PAYMENT DATA ::: {{dump(paymentUrl)}}{% endif %}</div>
{% if paymentUrl.paymentUrl is defined %}<div><a href={{paymentUrl.paymentUrl}}>FIZETEK</a></div>{% endif %}
